body {
  color: #ffffff;
  background-color: #333333;
}

#toggleLightOrDark, .button {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #000000;
}

.button:active {
  background-color: #000000;
}

#outerBorder {
  border: 1px solid #ffffff;
}
