body {
  color: #000000;
  background-color: #ffffff;
}

#toggleLightOrDark, .calcBtn {
  background-color: #333333;
  color: #ffffff;
  border: 1px solid #000000;
}

.calcBtn:active {
  background-color: #ffffff;
}

#calcOuterBorder {
  border: 1px solid #000000;
}
